@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #14a2e4;
    color: #fff;

    display: flex;
    flex-direction: column;
}

html {
    align-items: center;
}

body {
    width: 600px;
}

a {
    color: #fff;
    font-weight: 700;
}